@media (max-width:500px) {
    body{
        padding:0;
        max-width: 500px;
        height: 150%;
    }
    .box{
        display: grid;
        grid-template: 25vh 10vh 480vh 10vh/1fr;
        grid-template-areas: 
                            "header" 
                            "fMenu" 
                            "section"  
                            "footer";
        grid-gap: 5vh;
        max-width: 450px;
    }
    header{
        max-width: 450px;
        max-height: 100%;
        padding: 2% 0 0 0;
        border-radius: 20px 20px 0px 0px;
        
    }
    .img_sobre, .img_gameplay, .img_autor{
        justify-self: center;
        padding: 0;
        margin: 0;
    }
    .sobre{
        max-width:440px;
    }
    section{
        grid-template: 45vh 35vh 35vh 35vh 45vh 45vh 45vh 90vh 45vh/1fr;
    grid-template-areas: 
                        "sobre" 
                        "img_sobre" 
                        "gameplay" 
                        "img_gameplay" 
                        "autor" 
                        "img_autor"
                        "recomenda"
                        "faq"
                        "comentarios";
       text-align: center;
        max-width: 450px;
    }
    a{
        font-size: 14px;
    }
    .faq{
        max-width: 440px;
        text-align: left;
    }
    .autor{
        max-width: 440px;
    }
    .comentarios{
        max-width: 440px;
        text-align: left;
    }
    .floating_menu{
        grid-area: fMenu;
        max-width: 450px;
        max-height: 80px;
        padding: 0 0px;
        border-radius: 0px 0px 20px 20px;
        background-color: rgba(35, 17, 36, 0.952);
        
    }
    .floating_menu hr{
        height: 10px;
        visibility: hidden;
    }
    .menuBox{
        max-width: 450px;
        margin: 0px 0px;
        display: grid;
        grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-justify: center;
        padding: 0px 0px;
        margin: 5px;
    }
    .menuBox a{
        left: 0%;
    }
    footer{
        max-width: 450px;
        padding: 0px 2%;
    }
    .print1, .print2{
     width: 380px;
    }
}